.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.frame{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    width: 135px;
    margin: 10px auto;
    grid-column-start: 2;
}

.number{
    color: cyan;
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    margin: 10px auto;
    margin-bottom: 10px;
    border: 2px solid cyan;
}

.button{
    justify-self: center;
    align-self: center;
    margin: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

.button_navigation{
    grid-row-start: 2;
}

.button_navigation_green{
    background-color: rgb(0, 215, 0);
}

.button_navigation_yellow{
    background-color: rgb(255, 255, 0);
}

.button_navigation_red{
    background-color: rgb(255, 0, 0);
}

.button_switch_off{
    color: red;
    background-color: gray;
    grid-column-start: 2;
}

.signal{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 15px auto;
}

.signal_green_on{
    border: 2px solid rgb(0, 215, 0);
    background-color: rgb(0, 215, 0);
}

.signal_green_off{
    border: 2px solid rgba(0, 215, 0, 0);
    background-color: rgba(0, 215, 0, 0.5);
}

.signal_yellow_on{
    border: 2px solid rgb(255, 255, 0);
    background-color: rgb(255, 255, 0);
}

.signal_yellow_off{
    border: 2px solid rgba(255, 255, 0, 0);
    background-color: rgba(255, 255, 0, 0.5);
}

.signal_red_on{
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

.signal_red_off{
    border: 2px solid rgba(255, 0, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
}

.signal_green_blinck{
    animation: blink_green 1s;
    animation-iteration-count: 3;
}
@keyframes blink_green { 50% { 
    background-color: rgba(0, 215, 0, 0.5);
    border: 2px solid rgba(0, 215, 0, 0);
}}

.signal_yellow_blinck{
    animation: blink_yellow 1s;
    animation-iteration-count: 3;
}
@keyframes blink_yellow { 50% { 
    background-color: rgba(255, 255, 0, 0.5);
    border: 2px solid rgba(255, 255, 0, 0);
}}

.signal_red_blinck{
    animation: blink_red 1s;
    animation-iteration-count: 3;
}
@keyframes blink_red { 50% { 
    background-color: rgba(255, 0, 0, 0.5); 
    border: 2px solid rgba(255, 0, 0, 0) 
}}