.main{
    background-color: wheat;
}

.frame{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    width: 110px;
    margin: 0 auto;
}

/* //////////////////////////////////// */

.green_switched_on{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(0, 215, 0);
    background-color: rgb(0, 215, 0);
    margin: 0 auto;
    
}

.yellow_switched_on{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 0);
    background-color: rgb(255, 255, 0);
    margin: 0 auto;
}

.red_switched_on{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
    
}

/* //////////////////////////////////// */

.green_switched_off{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgba(0, 215, 0, 0);
    background-color: rgba(0, 215, 0, 0.5);
    margin: 0 auto;
}

.yellow_switched_off{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 0, 0);
    background-color: rgba(255, 255, 0, 0.5);
    margin: 0 auto;
    
}

.red_switched_off{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgba(255, 0, 0, 0);
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0 auto;
}